@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratItalic';
    src: url('../../assets/fonts/MontserratItalic.ttf') format('truetype');
}

body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    border-radius: 5px;
    border: 0;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

    background: #FFBF00;
    color: #000;
    height: 50px;
    width: 50%;
}

#logotypeDiv {
    height: 120px;
    flex-shrink: 0;
    display: flex;
    margin: 40px;
    margin-top: 20%;
}

#beer {
    position: relative;
    top: 32px;
    left: 72%;
    object-fit: contain;
    width: 58px;
    height: 78px;
    transform: rotate(5.374deg);
    flex-shrink: 0;
    aspect-ratio: 29/39;
}

#logotypeText {
    position: relative;
    right: 10%;
    width: 255px;
    height: 115px;
    object-fit: cover;

    flex-shrink: 0;
    aspect-ratio: 51/23;
}

#header {
    height: 100px;
}

#miniLogo {
    height: 60%;
    margin: 1%;
}

#popUp > #box {
    border-radius: 10px;
}
